@font-face {
    font-family: svn;
    src: url(/fonts/svn-gilroy-cufonfonts/SVNGilroy\ Bold.otf);
}

body{
    font-family: svn;

    .section{
        padding-top: 50px;
        background: #FDFDFD;
        .section1
        {
            width: 80%;
            margin: auto;
            
            .whatsNew
            {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
    
                .new{
                   h1{
                    color: black;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                   } 
                   p{
                    color: #003459;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 36px;
    
                   }
                }
                .new2{
    
                    button{
                        width: 151px;
                        height: 44px;
                        border-radius: 57px;
                        border: 1.5px solid #003459;
                        gap: 8px;
                        background: transparent;
                        padding: 12px, 28px, 12px, 28px;
    
                        a{
                            text-decoration: none;
                            color: #003459;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
    
                        }
                    }
                }
            }
        }
        .grid-container
        {
            width: 80%;
            margin: 50px auto;
            display: grid;
            justify-content: center;
            grid-template-columns: 25% 25% 25% 25%;
            background:#FDFDFD;
         
            .grid-item
            {
                margin: 10px;
                border-radius: 12px;
                padding: 8px;
                box-shadow: 0 0 15px rgb(184, 184, 184);
            }
            .item1, .item2, .item3, .item4{
                img{
                    border-radius: 12px;
                }
                h1{
                    color: #00171F;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    font-family: svn;
                }
                h2{
                    font-family: svn;
                    color: #667479;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 18px;
                }
                h3{
                    color: #00171F;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                    font-family: svn;
                }
            }
        }
    }
}