@font-face {
    font-family: svn;
    src: url(/fonts/svn-gilroy-cufonfonts/SVNGilroy\ Bold.otf);
}

body{
    font-family: svn;

    .adoption
    {
        .adoption1
        {
            width: 80%;
            margin: auto;
            background: #FFB775;
            display: flex;
            flex-direction: row;
            border-radius: 20px;
            overflow: hidden;
            
            .ado-right{
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 60px 60px;
                position: relative;
                z-index: 20;

                .adopt-image
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    h2{
                        color: #003459;
                        font-weight: 800;
                        font-size: 52px;
                        line-height: 62px;
                        margin-right: 10px;
                    }
                }

                .showcase88{
                    position: absolute;
                    bottom: 0%;
                    right: -16%;
                    z-index: -1;
                }
                h1{
                    span{
                        font-weight: 900;
                        letter-spacing: 0.4rem;
                        font-family: svn;
                        z-index: 10;
                        font-size: 2.5;
                    }
                    color: #002A48;
                    font-size: 2.1rem;
                    font-weight: 700;
                    line-height: 68px;
                    font-family: svn;
                    z-index: 10;
                    text-align: left;
                }
                p{
                    color: #242B33;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 24px;
                    font-family: svn;
                    padding: 15px 0px;
                    text-align: left;
                }
                .header-button
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    gap: 5px;

                    .btn1{
                        width: 161px;
                        height: 48px;
                        border-radius: 57px;
                        padding: 14px, 28px, 10px, 28px;
                        gap: 10px;
                        border: 1.5px solid #003459;
                        background: transparent;

                        a{
                            text-decoration: none;
                            color: #003459;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;

                            .fa-circle-play
                            {
                                font-size: 18px;
                                margin-left: 5px;
                            }
                        }
                    }
                    .btn2{
                        width: 161px;
                        height: 48px;
                        border-radius: 57px;
                        padding: 14px, 28px, 10px, 28px;
                        gap: 8px;
                        border: 1.5px solid #003459;
                        background: #003459;

                        a{
                            text-decoration: none;
                            color: white;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;

                            .fa-circle-play
                            {
                                font-size: 18px;

                            }
                        }
                    }
                }
            }
            .ado-left{
                width: 50%;
                position: relative;

                .showcase6
                {
                    position: absolute;
                    top: 20%;
                    left: 18%;
                    z-index: 1;
                }
                .adoption
                {
                    position: absolute;
                    top: 0%;
                    z-index: 20;
                }
                
                
            }

        }
    }
}